html, body { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #eee;
}

header.YananMonogatari {
  background-color: #af8f61;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3),
              0   0 2px rgba(0, 0, 0, .4);
}
header.YananMonogatari h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  min-height: 10rem;
  max-height: 30rem;
  margin: 0;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}
header.YananMonogatari h1 .logo {
  height: 70%;
  color: black;
  filter: invert(1);
}

ul.nav {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
ul.nav li {
  flex-grow: 1;
  position: relative;
  list-style-type: none;
}
ul.nav li a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: .5rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
  font-variant: small-caps;
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .8);
}
ul.nav li a:hover {
  background-color: rgba(126, 98, 54, .8);
  color: rgb(255, 255, 255);
}
ul.nav li a.-coming-soon {
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .38);
  cursor: default;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .8);
  box-shadow: 0 -3px 5px rgba(0, 0, 0, .3),
              0    0 2px rgba(0, 0, 0, .4);
}

main {
  width: 60vw;
  min-width: 30rem;
  max-width: 80rem;
  margin: 16px auto;
  padding: .2rem 3rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

p {
  text-indent: 2.2em;
  line-height: 2.2em;
  letter-spacing: .1em;
  margin: 2.2em 0;
}
