html, body { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans CJK TC', 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', Helvetica, Segoe UI, Arial, sans-serif;
  background-color: #eee;
}

header.YananMonogatari {
  position: sticky;
  top: -50vh;
  z-index: 99;
  background-color: #af8f61;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3),
              0   0 2px rgba(0, 0, 0, .4);
}
header.YananMonogatari h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
header.YananMonogatari h1 .logo {
  max-width: 100%;
  max-height: 70%;
  color: black;
  filter: invert(1);
}

ul.nav {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}
ul.nav li {
  flex-grow: 1;
  position: relative;
  list-style-type: none;
}
ul.nav li a {
  display: flex;
  justify-content: center;
  padding: .5rem 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
  font-variant: small-caps;
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .8);
}
ul.nav li a:hover {
  background-color: rgba(126, 98, 54, .8);
  color: rgb(255, 255, 255);
}
ul.nav li a.-now-at {
  box-shadow: inset 0 -3px 0 0 CurrentColor;
  color: rgb(255, 255, 255);
}
ul.nav li a.-coming-soon {
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .38);
  cursor: default;
}

footer {
  padding: 1rem 0;
  text-align: center;
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .8);
  box-shadow: 0 -3px 5px rgba(0, 0, 0, .3),
              0    0 2px rgba(0, 0, 0, .4);
}

main {
  position: relative;
  width: 60.5rem;
  max-width: 100vw;
  margin: 16px auto;
  padding: .2rem 3.3rem;
  line-height: 1.8rem;
  letter-spacing: .1em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
@media (max-width: 500px) {
  main {
    padding: .2rem 1.1rem;
  }
}

main .full-width {
  margin: 0.9rem -3.3rem;
  padding: 0.9rem 3.3rem;
}
@media (max-width: 500px) {
  main .full-width {
    margin: 0.9rem -1.1rem;
    padding: 0.9rem 1.1rem;
  }
}

main p {
  text-indent: 2.2em;
  margin: 0;
}
main p:first-child {
  margin-top: 1.8rem;
}
main p:last-child {
  margin-bottom: 1.8rem;
}
main h1 {
  margin: 1.8rem 0 0;
  font-size: 2.5rem;
  line-height: 3.6rem;
  color: rgb(126, 98, 54);
}
main hr {
  margin: 0.9rem 0;
  border: none;
  text-align: center;
}
main hr.big::before {
  content: '＊　＊　＊　＊　＊';
}
main article h1 {
  font-size: 2rem;
}
main article .article-author {
  display: block;
  text-align: right;
}
main article i {
  font-style: normal;
  color: rgba(126, 98, 54, .7);
}
main article aside {
  background-color: rgba(175, 143, 97, .3);
}


/* home */
.small-introduction .content {
  background-image: linear-gradient(90deg,
    transparent, #ffecb3 25%, #ffecb3 75%, transparent);
}
.small-introduction p {
  padding: 0.9rem 0;
  font-family: 'Noto Serif CJK TC', 'Yu Mincho', 'YuMincho', serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4em;
  text-align: center;
  text-indent: 0;
}
@media (max-width: 600px) {
  .small-introduction p {
    font-size: 3.7vw;
    line-height: 1.4em;
  }
}


/* character */
.character {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1.8rem 0 2.7rem;
  background-image: linear-gradient(90deg,
    transparent, #ffecb3 25%, #ffecb3 75%, transparent);
  background-size: 100% 75%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 800px) {
  .character {
    flex-direction: column;
  }
}

.character .picture {
  flex-grow: 1;
  position: relative;
  text-align: center;
  min-width: 10rem;
}
.character .picture .saying {
  position: absolute;
  left: 50%;
  top: 50%;
  writing-mode: vertical-rl;
  white-space: nowrap;
  text-align: left;
  font-size: 1.7rem;
  letter-spacing: .1em;
  text-indent: -1.1em;
  color: white;
  text-shadow:  2px 0   5px var(--saying-color),
               -2px 0   5px var(--saying-color),
                0   2px 5px var(--saying-color),
                0  -2px 5px var(--saying-color);
  transform: rotate(-9deg) translateX(-2rem) translateX(-50%) translateY(-50%);
}
.character .picture .saying .normal {
  letter-spacing: initial;
}
.character .picture .saying .break-vertical {
  writing-mode: initial;
  font-size: .8em;
  text-indent: 0;
}

.character .intro {
  flex-grow: 1;
}
.character .intro .name {
  margin: .9rem 0;
  padding-left: 1.1rem;
  letter-spacing: initial;
  font-size: 2rem;
  background-image: linear-gradient(90deg, var(--name-color-l), var(--name-color-r));
  color: white;
}
.character .intro dl.data {
  margin: .9rem 0;
}
.character .intro dl.data dt, .character .intro dl.data dd {
  display: inline-block;
  margin: 0;
}
.character .intro dl.data dt::after {
  content: '：';
}
.character .intro p {
  text-indent: 0;
  margin: .9rem 0;
}


/* story */
ul.article-controller {
  display: flex;
  width: 100%;
  overflow-x: auto;
  margin: 1.8rem 0 0;
  padding: 0;
}
ul.article-controller li {
  list-style-type: none;
}

ul.article-controller .button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2rem;
  margin: 0 1.2rem;
  padding: 0 0.6rem;
  font-weight: 700;
  font-size: 1.3em;
  background-color: rgb(126, 98, 54);
  color: rgba(255, 255, 255, .8);
  white-space: nowrap;
  cursor: pointer;
}
ul.article-controller .button::before,
ul.article-controller .button::after {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 1rem;
  border-color: transparent rgb(126, 98, 54);
}
ul.article-controller .button::before {
  border-left-width: 0rem;
  left: -1rem;
}
ul.article-controller .button::after {
  border-right-width: 0rem;
  right: -1rem;
}

ul.article-controller ~ article {
  display: none;
}

input.article-control {
  position: fixed;
  top: -100%;
  visibility: hidden;
}
#a-1:checked ~ #article-1 { display: unset; }
#a-2:checked ~ #article-2 { display: unset; }
#a-3:checked ~ #article-3 { display: unset; }
#a-1:checked ~ .article-controller #btn-1 { background-color: #af8f61; }
#a-2:checked ~ .article-controller #btn-2 { background-color: #af8f61; }
#a-3:checked ~ .article-controller #btn-3 { background-color: #af8f61; }

